<div class="form-group mb-4">
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
</div>
<table class="table table-hover" *ngIf="(connections | filter: searchText).length > 0; else noResults">
  <thead>
  <tr>
    <td>ID Number</td>
    <td>Person Name</td>
    <td>Phone Number</td>
    <td>Title</td>
    <td>Date of Borrow</td>
    <td>Delay</td>
    <td colspan="2">Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let connection of connections | filter: searchText; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{ connection.ID_Number }}</td>
    <td>{{ connection.title }}</td>
    <td>{{ connection.person_name }}</td>
    <td>{{ connection.phone_number }}</td>
    <td>{{ connection.date_of_borrow }}</td>
    <td>{{ connection.delay_ }}</td>
  </tr>
  </tbody>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>
