<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown"  style="padding-top:7px">
        <a style="cursor: pointer" href="#" id="navbarDropdown" class="nav-link dropdown-toggle"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ügyfél
          <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="" class="dropdown-item" routerLinkActive="active" style="cursor: pointer;">Ügyfél felvitele</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">Ügyfelek</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">Ügyfél szerkesztése</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">Ügyfél Törlése</a>
        </div>
      </li>
      <li class="nav-item dropdown"  style="padding-top:7px">
        <a style="cursor: pointer" href="#" id="navbarDropdown" class="nav-link dropdown-toggle"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DVD
          <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">DVD felvitele</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">DVDk</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">DVD szerkesztése</a>
          <a routerLink="" class="dropdown-item" routerLinkActive="active"  style="cursor: pointer;">DVD Törlése</a>
      </div>
      </li>
      <li class="nav-item" >
        <a routerLink="" class="nav-link" routerLinkActive="active">
          Kölcsönzés
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          DVD visszahozatal
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          Kikölcsönzött DVD-k
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
